.page {
  text-align: center;
  margin: 20px;
}

.split {
  height: 100%;
  width: 49.5%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 5px solid brown;
}

/* Control the left side */
.left {
  left: 0;
  padding: 5px;
  background-color: lightsalmon;
}

/* Control the right side */
.right {
  right: 0;
  padding: 5px;
  background-color: palegreen;
}

.bottom-right-button {
  margin: 20px;
  background-color: yellow;
  cursor: pointer;
}

.bottom-left-button {
  margin: 20px;
  background-color: yellow;
  cursor: pointer;
}

.small-image {
  left: 0px;
  position: relative;
  width: 150px;
}

.page-right {
  text-align: left;
  margin: 5px;
  right: 0;
  position: absolute;
}

.page-left {
  text-align: left;
  margin: 5px;
  right: 70%;
  position: absolute;
}

.homepage-link {
  cursor: pointer;
}

.interactions {
  text-align: center;
}

.table {
  margin: 20px 0;
}

.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}

.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}

.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38bb6c;
}

.bottom-right-button {
  position: relative;
  right: 20;
  bottom: 20;
}

.bottom-left-button {
  position: relative;
  right: 0;
  bottom: 0;
}
